<% decorator = Gossiper::NotificationDecorator.new(@notification) %>

<h1><%= Gossiper::Notification.model_name.human.pluralize %></h1>

<table class="table table-striped table-bordered">
  <% %w(kind subject to user_class user_id delivered_at status read created_at updated_at).each do |attribute| %>
    <tr>
      <th class="title"><%= Gossiper::Notification.human_attribute_name(attribute) rescue t(".#{attribute}") %></th>
      <td><%= decorator.send(attribute) %></td>
    </tr>
  <% end %>

    <tr>
      <th class="title"><%= Gossiper::Notification.human_attribute_name('email_body') rescue t("email_body") %></th>
      <td><pre><%= decorator.email_object %></pre></td>
    </tr>

</table>

<div class="form-actions">
  <%= link_to(
    t('.deliver', default: 'Deliver'),
    deliver_notification_path(@notification),
    data: {
      confirm: t('.confirm_delivery', default: t('gossiper.notifications.confirm_delivery')),
      method: :post,
    },
    class: 'btn pull-right'
  ) %>
  <%= link_to(t('.back', default: t('gossiper.notifications.back')), :notifications, class: "btn pull-right") %>
</div>
